<ion-header>

  <ion-toolbar class="toolBarColor" text-color="my-custom-color">
      <ion-buttons >
        <ion-button (click)="backHome()" > <ion-icon slot="icon-only" name="arrow-dropleft-circle" color="light" class="iconBack" ></ion-icon></ion-button>
      </ion-buttons>
      <ion-title> <span text-color="my-custom-color">Control</span></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content clsss="contentColor">

<ion-grid >
<ion-row class="heightCol">
  <ion-col >
      <ion-button color="light" class="fullButton">Remote Color</ion-button>
  </ion-col>
  <ion-col >
      <ion-button color="light"class="fullButton">REmote Sound</ion-button>
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>
