.button-outline{
    height: 100%;
    width: 100%;
}
.heightCol{
    height: 5em;

}
ion-content {
        --background: black;
}
[text-color="my-custom-color"] {
    color: white;
    size: 50px;
}
.toolBarColor{
    --background: black;
}
ion-title {
    text-align: center;
}
.fullButton{
    height: 100%;
    width: 100%;
}
